
body{
    background: -webkit-linear-gradient(45deg, rgb(154, 244, 223) 17%, rgb(0, 196, 202) 47%, rgb(237, 242, 208) 83%);
    background: -moz-linear-gradient(45deg, rgb(154, 244, 223) 17%, rgb(0, 196, 202) 47%, rgb(237, 242, 208) 83%);
    background: linear-gradient(45deg, rgb(154, 244, 223) 17%, rgb(0, 196, 202) 47%, rgb(237, 242, 208) 83%);
    height: 83.9vh;
}

.conteiner {
    background-color: rgb(231, 231, 231);
    border-radius: 15px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 150px;
    font-family: "Comic Sans MS";
    box-shadow: 4px 4px 8px 0px rgba(14, 23, 29, 0.2);
    width: 205px; 
    height: 400px; 
}

.input {
    margin: 40px 0 0 0;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    width: 205px;
    height: 95px;
    
    background-color: rgb(220, 220, 220);
    font-size: 50px;
    color: black;
    vertical-align: middle;
    text-align: right;
    overflow: auto;
}

.button {
    padding: 40px 0 0px 0;
    display: grid;
    grid-template-columns: repeat(4, 40px);
    grid-template-rows: repeat(5, 40px);
    height: 300px;
    width: 200px;
    justify-content: center;
    border-top-left-radius: 5%;
    border-top-right-radius: 5%;
    grid-gap: 5px
    
}

button:hover{
    background-color: rgb(233, 233, 233);
    box-shadow: -5px -5px 5px -5px rgba(34, 60, 80, 0.6) inset;
}

button:active{
    background-color: rgb(202, 202, 202);
    box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.2) inset;
}

.button__larr{
    border: 1px solid rgb(0, 0, 0);
    background-color: rgb(255, 255, 255);
    color: black;
    border-radius: 50px;
    color: rgb(50, 128, 245);
}

.button__number {
    border: 1px solid rgb(0, 0, 0);
    background-color: rgb(255, 255, 255);
    color: rgb(2, 2, 2);
    border-radius: 50px;
}

.button__do {
    border: 1px solid rgb(0, 0, 0);
    background-color: rgb(255, 254, 254);
    color: black;
    border-radius: 50px;
    color: rgb(50, 128, 245);
}

.button__prosent {
    border: 1px solid rgb(0, 0, 0);
    background-color: rgb(255, 254, 254);
    color: black;
    border-radius: 50px;
    color: rgb(50, 128, 245);
}

.button__equality {
    border: 1px solid rgb(10, 6, 6);
    background-color: rgb(255, 255, 255);
    color: white;
    border-radius: 50px;
    grid-row-start: 4;
    grid-row-end: 6;
    grid-column-end: 5; 
    background-color: rgb(50, 128, 245);
}

.button__equality:hover{ 
    background-color: rgb(39, 104, 202); 
    box-shadow: -5px -5px 5px -5px rgba(34, 60, 80, 0.6) inset; 
} 
.button__equality:active{ 
    background-color: rgb(24, 76, 155); 
    box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.2) inset; 
}

.button__ac {
    border: 1px solid rgb(0, 0, 0);
    background-color: rgb(255, 255, 255);
    color: rgb(50, 128, 245);
    border-radius: 50px;
}

.button__number.zero{
    height: 40px;
}


.button__dot {
    border: 1px solid rgb(0, 0, 0);
    background-color: rgb(255, 255, 255);
    color: black;
    height: 40px;
    border-radius: 50px;
}